body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.square{
  width : 50px;
  height : 50px;
  margin: 5px;
  position: relative;
  display:inline-block;
  top: 0px;
  left: 0px;
  background-color: green;
}
.square-red{
  width : 50px;
  height : 50px;
  margin: 5px;
  position: relative;
  display:inline-block;
  top: 0px;
  left: 0px;
  background-color: #F0F0F0;
}
.moviediv{
  width:300px;
  height:300px;
  display:inline-block;
  position:relative;
  margin:5px;
  padding: 5px;
  -webkit-box-shadow: 1px 2px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 16px 0px rgba(0,0,0,0.75);
box-shadow: 1px 2px 16px 0px rgba(0,0,0,0.75);
border-radius: 5px;
box-sizing: border-box;
}
.movieimg{
  width:200px;
  height:200px;
  display:inline-block;
  position:relative;
  margin: 0 auto;
  text-align: center;
}
.movieshow{
  display:inline-block;
  vertical-align: top;
}
/* .board-row{
  position: relative;
  display:inline-block;
} */

.browser-default{
  margin-top: 0.6em;
}
